#main-title {
  text-align: center;
  font-family: arial;
}

#main-description {
  text-align: center;
  font-family: arial;
}

@media only screen and (max-width: 350px) {
  #main-description {
      font-size: 12px !important;
  }
}

#main-image {
  width: 40%;
  height: 40%;
  margin-bottom: 5px;
}

  html {
    height: 100%;
    margin: 0;
  }

body {
  background-color: #F0F8FF !important;
  height: 100%;
  margin: 0;
  }

.wrapper {
  min-height: 100%;
  margin-bottom: -65px;
}


li {
  margin-left: 5px !important;
}

#git-hub-link {
  width: 25px;
  height: 25px;
}

#linkedin-link {
  width: 25px;
  height: 25px;
}

#footer-text {
  text-align: left !important;
  margin-left: 15px !important;
}

@media only screen and (max-width: 350px) {
  #footer-text {
      font-size: 12px !important;
  }
}

.footer, .push {
height: 65px;
}

.experience-title {
  float: left;
}

@media only screen and (max-width: 350px) {
  #experience-title-text {
      font-size: 13px !important;
  }
}


.experience-date {
  float: right;
}

@media only screen and (max-width: 350px) {
  #experience-date-text {
      font-size: 11px !important;
  }
}

.experience-place {
  float: left;
  clear: both;
  margin-top: -10px;
}

@media only screen and (max-width: 450px) {
  .panel-title {
      font-size: 11px !important;
  }
}

@media only screen and (max-width: 450px) {
  .panel-body {
      font-size: 10.5px !important;
      overflow: scroll !important;
  }
}

@media only screen and (max-width: 1100px) {
  .panel-footer {
    overflow: scroll !important;
  }
}

@media only screen and (max-width: 450px) {
  #current-project-list-item {
    margin-left: -35px !important;
  }
}
