#main-title {
  text-align: center;
  font-family: arial;
}

#main-description {
  text-align: center;
  font-family: arial;
}

#main-image {
  width: 40%;
  height: 40%;
  margin-bottom: 5px;
}

body {
  background-color: #F0F8FF !important;
}

li {
  margin-left: 5px !important;
}

#git-hub-link {
  width: 25px;
  height: 25px;
}

#linkedin-link {
  width: 25px;
  height: 25px;
}
